.hero_section {
  background-image: url("../../assets/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 120px;
}

.ch {
  color: #fcbf49;
}

.newsletter {
  background-color: #fcbf49;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.newsletter a {
  text-decoration: none;
}

.btn_link {
  text-decoration: none;
}
