.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  height: 4em;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.header.changeColor {
  transition: 0.3s ease-in-out;
  background-color: #fcbf49;
}

.header.changeColor .header_menu a {
  color: #333;
}

.header.changeColor .header_register_button {
  background-color: #1e9ae0;
}

.header.changeColor .header_register_button:hover {
  border: 1px solid #1e9ae0;
}

.header img {
  width: 260px;
  height: auto;
  cursor: pointer;
}

.header .header_menu {
  list-style: none;
  display: flex;
  gap: 2em;
  margin-right: 80px;
}

.header .header_menu a {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.header .header_register_button {
  padding: 0.6em 2em;
  border-radius: 30px;
  border: none;
  border: 2px solid transparent;
  background-color: #fcbf49;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.header .header_register_button:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #fcbf49;
  color: #333;
}

.header .header_menu a:hover {
  border-bottom: 2px solid #1e9ae0;
  transition: 0.2s;
  padding-bottom: 10px;
}
