.tutorial_page {
  text-align: center;
  padding: 100px;
  color: #fff;
}

.tutorial_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tutorial_input h1 {
  font-size: 3rem;
}

.tutorial_input p {
  font-size: 1.3rem;
}

.tutorial_input input {
  padding: 20px;
  width: 400px;
  border: 1px solid #1e9ae0;
}

.tutorial_input .input {
  position: relative;
  display: flex;
  align-items: center;
}

.tutorial_input .input svg {
  font-size: 20px;
  right: 20px;
  color: #333;
  cursor: pointer;
  position: absolute;
}

/* Tutorial Items and List */

.tutorial_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 60px;
}

.tutorial_list .tutorial_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  align-items: center;
  text-align: left;
  grid-gap: 20px;
  border: 1px solid #333;
  border-radius: 12px;
}

.tutorial_list .tutorial_item img {
  width: 100%;
  height: auto;
}

.tutorial_list .tutorial_item .tutorial_item_text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.tutorial_list .tutorial_item .tutorial_item_text span {
  background-color: #1e9ae0;
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
}

/* Tutorial Details */

.tutorials_details_wrapper {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.tutorials_details_wrapper .tutorial_details_item {
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.tutorials_details_wrapper .tutorial_details_item img {
  width: 100%;
  height: auto;
}

.tutorials_details_wrapper .tutorial_details_item .tutorial_details_text {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
  padding: 20px;
}

.tutorials_details_wrapper .tutorial_details_item .tutorial_details_text h1,
.tutorials_details_wrapper .tutorial_details_item .tutorial_details_text h2 {
  color: #fff;
}

.tutorials_details_wrapper .tutorial_details_item .tutorial_details_text span {
  background-color: #1e9ae0;
  color: #fff;
  font-size: 20px;
  padding: 12px;
}

.details_content p,
h1 {
  color: #fff;
}
