span.advanced {
  color: rgb(15, 155, 255);
  font-size: 20px;
}
span.beginner {
  color: rgb(5, 164, 7);
  font-size: 20px;
}
span.expert {
  color: rgb(255, 179, 38);
  font-size: 20px;
}

/* filters styling */

/* Main Container  wrap filters and list*/
.challenges_container {
  position: relative;
}

/* Wrapper for  Filters */
.filter_challenges {
  padding: 40px;
}

/* Box for Filters when is clicked it open  */
.open_filter {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background-color: #fcbf49;
  padding: 20px;
}

.filter_wrapper {
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 60px;
  z-index: 20;
  gap: 2em;
  height: 0;
  transition: 0.3s;
}

.filter_wrapper.toggle {
  height: fit-content;
  border: 1px solid grey;
  padding: 40px;
}

.filter_wrapper h2 {
  color: #fcbf49;
}

.filter_wrapper .filter_tech {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.filter_wrapper .filter_tech button {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}

.filter_wrapper .filter_tech button:hover {
  background-color: #fcbf49;
  transition: 0.3s;
}

.filter_wrapper .filter_difficulty {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.filter_wrapper .filter_difficulty button {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}

.filter_wrapper .filter_difficulty button:hover {
  background-color: #fcbf49;
  transition: 0.3s;
}
