body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8eceecb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination_list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1em;
}

.pagination_list li {
  cursor: pointer;
  background-color: #fcbf49;
  padding: 12px 16px;
  color: #333;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000f4;
  z-index: 30;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #77adff44;
  z-index: 30;
}

.linkDecoration {
  text-decoration: none;
}
.pricingPage {
  background-image: url("./assets/pricingbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 100px;
}

.auth_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  resize: none;
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.successPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  background-color: #bbeaff;
}
